<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/trustable.css" />
    <script src="{{ SITEURL }}/theme/js/modernizr.js"></script>
</head>

<body>

<!-- Nav Bar -->
<nav>
<div class="top-bar">
<div class="large-9">
<div class="banner-row">
  <a href="{{ SITEURL }}"><img align="right" alt="trustable" src="{{ BANNER }}"></a>
</div>
</div>
</div>

<!-- Show menu items and pages -->
<div class="row">
<div class="large-9 columns">
    <ul class="button-group navigation">
	  {% for title, link in MENUITEMS %}
    <li><a href="{{ link }}" class="button secondary small">{{ title }}</a></li>
    {% endfor %}
    </ul>
</div>
</div>
</nav>
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->
<div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns">
    {% block content %}{% endblock %}
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <aside class="large-3 columns">

        {% if LINKS %}
        <h5 class="sidebar-title">External Links</h5>
        <ul class="side-nav">
        {% for name, link in LINKS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        <h5 class="sidebar-title">Posts</h5>
        <table class="table-archive">
        <tbody>
        {% for article in dates %}
            <tr>
            <td><a href='{{ article.url }}'>{{ article.title }}</a></td>
            </tr>
        {% endfor %}
        </table>
    </aside> <!-- End Sidebar -->

</div> <!-- End Main Content and Sidebar -->


<!-- Footer -->
<footer class="row">
  <div class="large-9 columns">
    <hr />
    <div class="footer-column">
      <h3>About Trustable</h3>
      <div><a href="contributing.html">Contributing</a></div>
      <div><a href="conduct.html">Code of Conduct</a></div>
      <div><a href="privacy.html">Privacy</a></div>
      <div><a href="legal.html">Legal notice</a></div>
    </div>
    <div class="footer-column">
      <h3>Resources</h3>
      <div><a href="overview.html">Overview</a></div>
      <div><a href="https://gitlab.com/trustable/documents/wikis/home">Short Guide (Wiki)</a></div>
      <div><a href="reading.html">Reading</a></div>
      <div><a href="projects.html">Relevant projects</a></div>
    </div>
  </div>
</footer>
</body>
</html>
