# Customisations for trustable.io

img[src*="#biopic"] {
    float: left;
    padding-right:10px;
    }

.biolist-gallery {
  margin: 0;
  text-align: center;
  max-width: 640px;
  padding: 0;
  }

.biolist-gallery li {
  display: inline-block;
  vertical-align: text-top;
  width: 150px;
  margin: 0 12px 30px;
  height: 250px;
  }

.biolist-gallery li > a {
  display: block;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  margin: 0;
  padding: 0;
  }

.biolist-gallery li > a:hover {
  outline: 1px solid;
  }

.biolist-gallery li > p {
  font-size: 15px;
  margin: 0;
  padding-bottom: 5px;
  }

.footer-column {
  float: left;
  width: 33%;
  padding-left:15px;
  padding-top:5px;
  padding-bottom: 20px;
  }

.footer-column h3 {
  text-decoration: bold;
  font-size: 16px;
  }

.footer-column div {
  padding-top:5px;
  font-size: 13px;
  }

.footer-final {
  margin-top:10px;
  }

.banner-row a > img {
  max-height: 75px;
  width: auto;
  text-align: right;
 }
